.timeline {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.timeline__left {
  flex: 0.7;
}

.timeline__right {
  flex: 0.3;
  padding-left: 70px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.timeline__posts {
  padding-bottom: 300px;
}

@media (max-width: 1000px) {
  .timeline {
    margin-left: 300px;

  }

  .timeline__right {
    padding-left: 0;
    margin-top: 20px;
  }
}
